/*******************************************
******** General
*******************************************/
:root {
    --color-background: #EB5757;
    --color-foreground: #F9F9F9;
    --color-emphasize: #222;
}

* {
    margin: 0;
    padding: 0;
}

section {
    padding: 1.5rem;
}

.container-header,
.container-main,
.container-footer {
    max-width: 1280px;
    margin: auto;
}

button {
    cursor: pointer;
    padding: .3rem 1.5rem;
    border: 1px solid var(--color-foreground);
    border-radius: .4rem;

    background: transparent;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-foreground);
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.6rem;
    line-height: 4rem;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

h4 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

p, a, label, input, textarea {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;
}

/*******************************************
******** Main
*******************************************/
/* section.intro */
.intro {
    margin-top: 8rem;
    padding: 10rem 1.5rem;

    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)),
                center / cover no-repeat url(../img/travel-minivan-dino-reichmuth.jpg);
    color: var(--color-foreground);
    text-align: left;
    text-shadow: var(--color-emphasize) 0 0 .5rem;
}

.intro-title,
.intro-body {
    width: 24rem;
    margin: 1rem 0;
}

.button-shopping {
    margin-top: 1rem;
    transition: all .2s ease-in-out;

    box-shadow: var(--color-emphasize) 0 0 .5rem;
    text-shadow: var(--color-emphasize) 0 0 .5rem;
}

.button-shopping:hover {
    background: var(--color-foreground);
    color: var(--color-emphasize);
    text-shadow: none;
}

/* .section.support */
.support {
    padding: 3rem 1.5rem;
}

.container-support-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-support-title-main,
.container-support-title-sub {
    width: 50%;
}

.container-support-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 0 5%;
    margin-top: 2rem;
}

.support-content-card {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 100%;
    border-radius: .4rem;

    background: var(--color-emphasize);
    color: var(--color-foreground);
}

.support-content-card-number {
    position: absolute;
    top: 10%;
    left: 10%;
}

.support-content-card-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.support-content-body {
    margin-top: 2rem;
}

/* section.statement */
.statement {
    padding: 10rem 1.5rem;

    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)),
                center / cover no-repeat url(../img/travel-lakeside-simon-migaj.jpg);
    color: var(--color-foreground);
    text-align: right;
    text-shadow: var(--color-emphasize) 0 0 .5rem;
}

.statement-title {
    width: 32rem;
    margin: 1rem 0 1rem auto;
}

.statement-body {
    width: 24rem;
    margin: 1rem 0 1rem auto;
}

.button-statement {
    margin-top: 1rem;
    transition: all .2s ease-in-out;

    background: var(--color-foreground);
    box-shadow: var(--color-emphasize) 0 0 .5rem;
    color: var(--color-emphasize);
}

.button-statement:hover {
    border-color: var(--color-background);
    background: var(--color-background);
    color: var(--color-foreground);
}

/* section.shopping */
.shopping {
    padding: 3rem 1.5rem;

    text-align: center;
}

.container-shopping-title {
    text-align: left;
}

.container-shopping-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container-shopping-content-image {
    position: relative;
    padding-bottom: 80%;
}

.shopping-content-image {
    position: absolute;
    top: 0;
    left: 0;
}

.shopping-content-name {
    margin-top: 1.5rem;
}

.original-price {
    color: var(--color-background);
    font-size: .9rem;
    text-decoration-line: line-through;
}

.button-shopping-content {
    margin-top: 1rem;
    transition: all .2s ease-in-out;

    background: var(--color-background);
}

.button-shopping-content:hover {
    background: var(--color-emphasize);
}

.button-all-products {
    margin: auto;
    margin-top: 1rem;
    transition: all .2s ease-in-out;

    background: var(--color-emphasize);
}

.button-all-products:hover {
    background: var(--color-background);
}

/* section.message */
.message {
    padding: 3rem 1.5rem;
}

.message > .container-main {
    position: relative;
    display: flex;
    
    text-align: right;
}

.container-message-image {
    position: absolute;
    top: 3rem;
    left: 2%;

    width: 30%;
    height: 60%;
}

.message-image {
    border-radius: .4rem;
    object-position: center left;
}

.message-content {
    box-sizing: border-box;
    width: 80%;
    margin-right: 0;
    margin-left: auto;
    padding: 3rem 15% 3rem 30%;
    border-radius: .4rem;

    background: var(--color-emphasize);
    color: var(--color-foreground);
    text-align: left;
}

.message-title {
    margin: 1rem 0;
}

.message-body,
.message-separator {
    margin: .75rem 0;

    line-height: 1.6rem;
}

.message-writer {
    line-height: 1.6rem;
}

.message-writer:first-child {
    margin-top: .75rem;
}
.message-writer:last-child {
    margin-bottom: .75rem;

    font-weight: 600;
}

/*******************************************
******** Header
*******************************************/
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

header > section {
    color: var(--color-foreground);
    text-align: center;
}

.header-upper {
    padding: 1rem 1.5rem;

    background: var(--color-emphasize);
}

.banner-highlight {
    display: inline-block;
    margin: 0 1rem;
    padding: .2rem 1rem;
    border-radius: 1rem;

    background: var(--color-background);
}

.header-lower {
    padding: 1rem 1.5rem;

    background: var(--color-background);
}

.header-lower > .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo {
    display: flex;
    align-items: center;
    width: 6rem;
}

.logo {
    object-fit: contain;
}

.container-nav > ul {
    display: flex;
    align-items: center;
}

.container-nav > ul > li {
    list-style: none;
}

.link-nav {
    padding: 0 1rem;
    margin: 0 1rem;
    border-radius: .4rem;
    transition: all .4s ease-in-out;

    color: var(--color-foreground);
    text-decoration: none;
}

.link-nav:hover {
    background: var(--color-emphasize);
}

.button-cart {
    position: relative;

    display: flex;
    align-items: center;
    padding: .25rem 1rem;
    border: none;

    background: var(--color-emphasize);
    font-size: .8rem;
}

.button-cart > ion-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .3rem;
    transform: translate(40%, -40%);
    border-radius: .8rem;

    background: var(--color-foreground);
    color: var(--color-emphasize);
}

/*******************************************
******** Footer
*******************************************/
footer {
    background: var(--color-emphasize);
    color: var(--color-foreground);
}

.footer-upper {
    padding: 2rem 1.5rem 1rem;
}

.footer-upper > .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-network-icon {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .4rem;
    transition: all .2s ease-in-out;

    background: var(--color-foreground);
    color: var(--color-emphasize);
}

.social-network-icon:hover {
    background: lightgray;
}

.footer-bottom {
    padding: 1rem 1.5rem;
}

.footer-bottom > .container-footer {
    text-align: center;
}

.copyright {
    font-size: .9rem;
}

.link-webflow {
    font-size: .9rem;
    color: var(--color-background);
}