/*********************
********* General
*********************/
:root {
    --color-background: #EEF0F4;
    --color-foreground: #081158;
    --color-blue-light: #CFDDEE;
    --color-blue-less-light: #BDCBE5;
    --color-emphasize: #EC8675;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
}

section {
    width: 90%;
    margin: auto;
    padding: 10% 5%;

    border: none;
}

.button-blue {
    margin: 1rem 0;
    padding: 0.75rem;

    background-color: var(--color-foreground);
    border-radius: 0.5rem;
    color: var(--color-background);
    font-size: 1.25rem;
}

h1, h2, h3, button { font-family: 'Signika', sans-serif; }
h4, p { font-family: 'Mallanna', sans-serif; }
h2#fontEmphasize { font-family: 'Ravi Prakash', cursive; }

h1 { font-size: 5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 1.5rem; }
p { font-size: 1.25rem; }

img {
    width: 100%;

    object-fit: cover;
    object-position: center;

    border: none;
}

/*********************
********* Header
*********************/
header, nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brandLogo {
    display: inline-block;
    width: 10rem;
    margin-left: 1rem;
}

nav {
    width: auto;
    margin: auto 1rem;
}

nav ul li {
    margin-right: 1.5rem;
    list-style: none;
}

nav .button-blue {
    margin-right: 1rem;
}

nav ion-icon {
    width: 1.5rem;
    height: 1.5rem;
}


/*********************
********* Main
*********************/
#pageIntro, #coachStat, #coachBooking {
    display: flex;
}

.coach-name-photo, .coach-intro, .stat-detail, .coaching-benefit, .coach-photo-box {
    flex: 1;
}

.coach-name-photo {
    margin: 0 1rem;

    background-image: url('resources/stairs-clique-images.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

#fontEmphasize {
    position: relative;
    top: -3rem;

    text-align: center;
}

#coachPhoto {
    border-radius: 1rem;
}

.coach-intro {
    margin-left: 2rem;
}

.coach-intro h2 {
    margin: 1rem 0;
}

#coachStat {
    width: 90%;
    padding: 5% 5%;
    transform: skewY(-3deg);

    background-color: var(--color-foreground);
    color: var(--color-background);
}

.stat-detail, #coachingDetail, #inspiringMsg, #mealPlanNewsletter, #tipsAndTricks {
    text-align: center;
}

#coachingDetail {
    margin-top: -10%;
    padding-top: 20%;
    background-color: white;
}

.coaching-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 1rem;
}

.content-box {
    width: auto;
    margin-top: 3rem;
    padding: 0 2rem;
}

.content-photo {
    width: 80%;
    
    border-radius: 0.5rem;
}

.workout-programs, .tips-tricks {
    display: flex;
    justify-content: space-between;
}

.program-wrapper, .tip-trick-wrapper {
    flex: 1;

    background-color: white;
    border-radius: 0.5rem;
    color: var(--color-foreground);
    text-align: left;
}

.program-wrapper:nth-of-type(2), .tip-trick-wrapper:nth-of-type(2) {
    margin: 0 5%;
}

.program-photo {
    height: 70%;

    border-radius: 0.5rem 0.5rem 0 0;
}

.program-text-info {
    position: relative;
    height: 24%;
    margin: 5%;
}

.program-time, .program-price {
    display: inline-block;
}

.program-price {
    position: absolute;
    top: 0;
    right: 0;

    color: var(--color-emphasize);
    font-weight: bold;
}

.program-price.before-sale {
    position: absolute;
    top: 1.5rem;
    right: 0;

    color: var(--color-blue-less-light);
    font-size: 1rem;
    text-decoration: line-through;
}

.program-title {
    margin: 1rem 0 1.5rem;

    line-height: 1.5rem;
}

#fitnessPlanAdvanced {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

#inspiringMsg, #mealPlanNewsletter {
    display: flex;
    height: 30rem;
}

#inspiringMsg {
    background-image: url('resources/squat-meghan-holmes.jpg');
    background-position: center;
    background-size: cover;
}

#inspiringMsgText {
    margin: auto;

    color: var(--color-background);
}

#coachBooking {
    background-color: white;
}

.coach-photo-box {
    display: flex;
    padding: 3rem;

    background-color: var(--color-foreground);
}

#coachPhoto2 {
    width: 80%;
    margin: 3rem auto 0 auto;
}

#mealPlanNewsletter {
    background-image: url('resources/running-andrew-tanglao.jpg');
    background-position: center;
    background-size: cover;
}

.subscribe-wrapper {
    width: 80%;
    margin: auto;
    padding: 3rem 3rem;

    border-radius: 1rem;
    background-color: var(--color-blue-light);
    color: var(--color-foreground);
}

#tipsAndTricks {
    background-color: white;
}

.tip-trick-wrapper {
    position: relative;
    height: 40rem;

    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.tip-trick-wrapper:nth-of-type(1) {
    background-image: url('resources/prep-scott-broome.jpg');
}

.tip-trick-wrapper:nth-of-type(2) {
    background-image: url('resources/boxing-sarah-cervantes.jpg');
}

.tip-trick-wrapper:nth-of-type(3) {
    background-image: url('resources/breath-angelos-michalopoulos.jpg');
}

.tip-info-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 90%;
    margin: 0 5% 5%;
}

.tip-type {
    display: inline-block;
    margin-bottom: 5%;
    padding: 0.3rem;

    background-color: var(--color-blue-less-light);
    border-radius: 0.5rem;
}

.tip-info {
    padding: 1.5rem 1rem;

    background-color: white;
    border-radius: 1rem;
}

.tip-writer-photo {
    width: 2rem;
    height: 2rem;

    margin-right: 0.5rem;
}

.tip-writer-name {
    display: inline-block;
    
    transform: translateY(-30%);
    font-size: 1rem;
}

.tip-title {
    margin: 1rem 0;

    line-height: 1.5rem;
}

#socialMedia {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.image-wrapper {
    display: flex;
    justify-content: space-around;
}

.workout-photo-sample {
    width: 16rem;
    height: 24rem;

    background-size: cover;
    background-position: center;
}

.social-media-wrapper {
    display: flex;
    justify-content: space-around;

    width: 90%;
    margin: -3% 0;
    padding: 5% 5%;
    transform: skewY(2deg);

    background-color: var(--color-emphasize);
    color: var(--color-background);
}

.social-media > ion-icon {
    transform: translateY(30%);

    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    padding: 0.5rem;

    border-radius: 1rem;
    background-color: white;
    color: var(--color-emphasize);
}

.social-media-account {
    display: inline-block;
    margin: 0 0.5rem;

    font-size: 2rem;
}

/*********************
********* Footer
*********************/
footer {
    display: flex;
    padding: 3rem 1rem;

    background-color: var(--color-foreground);
    color: var(--color-background);
}

footer > section {
    padding-top: 0;
    padding-bottom: 0;
}

.footer-logo-payments {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding-left: 1rem;

    justify-content: space-between;
}

#brandLogo2 {
    width: 12rem;

    transform: translateY(-25%);
}

.payment-logo {
    width: 3rem;

    padding: 0.25rem;
}

/*********************
********* Mobile
*********************/
@media (min-width: 1080px) {
    section {
        max-width: 1200px;
    }
}