/*********************
********* General
*********************/
:root {
    --background-color: #EEF0F4;
    --foreground-color: #081158;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

nav, section {
    width: 90%;
    margin: auto;
}

.button-blue {
    padding: 0.75rem;

    background-color: var(--foreground-color);
    border-radius: 0.5rem;
    color: var(--background-color);
    font-size: 1.25rem;
}

h1 { font-size: 6rem; }
h2 { font-size: 4rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

/*********************
********* Header
*********************/
header, nav, nav ul {
    display: flex;
    justify-content: space-between;
}

#brandLogo {
    display: inline-block;
    width: 4rem;
    height: 4rem;

    background-color: var(--foreground-color);
}

nav {
    width: auto;
    margin: auto 0;
}

nav ul li {
    margin: auto 2rem auto 0;
    list-style: none;
}


/*********************
********* Main
*********************/
#pageIntro, #coachStat, #coachingDetail, #fitnessPlanFree, #fitnessPlanAdvanced, #coachBooking{
    margin: 5rem auto;
}

#pageIntro, #coachStat, #coachBooking {
    display: flex;
}

.coach-name-photo, .coach-intro, .stat-detail, .coaching-benefit, .coach-photo-box {
    flex: 1;
}

#coachStat {
    width: 80%;
    padding: 5% 10%;
    transform: skewY(-3deg);

    background-color: var(--foreground-color);
    color: var(--background-color);
}

.stat-detail, #coachingDetail, #inspiringMsg, #mealPlanNewsletter, #tipsAndTricks {
    text-align: center;
}

#coachingDetail {
    width: 90%;
    margin-top: -10%;
    padding: 10% 5%;
    background-color: white;
}

.coaching-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-box {
    width: 20rem;
    height: 20rem;
    margin: 3rem auto 0 auto;

    background-color: gray;
    border-radius: 0.5rem;
}

.workout-programs, .tips-tricks {
    display: flex;
    justify-content: space-between;
}

.program-wrapper, .tip-trick-wrapper {
    width: 15rem;

    background-color: gray;
    border-radius: 0.5rem;
    text-align: left;
}

.coach-photo-box {    
    background-color: var(--foreground-color);
}

.subscribe-wrapper {
    width: 90%;
    height: 80%;
    margin: auto;

    background-color: gray;
}

.social-media-wrapper {
    display: flex;
    justify-content: space-around;
}

/*********************
********* Footer
*********************/
footer {
    display: flex;

    background-color: navy;
    color: white;
}

.footer-logo-payments {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}