/*******************************************
******** General
*******************************************/
:root {
    --color-background: #EB5757;
    --color-foreground: #F9F9F9;
    --color-emphasize: #222;
}

* {
    margin: 0;
    padding: 0;
}

section {
    padding: 2rem 1.5rem;
}

.container-header,
.container-main,
.container-footer {
    max-width: 1280px;
    margin: auto;
}

button {
    padding: .5rem 1.5rem;
    border: 1px solid var(--color-foreground);
    border-radius: .4rem;

    background: transparent;
    color: var(--color-foreground);
}

img {
    width: 100%;
    height: 100%;
}

/*******************************************
******** Header
*******************************************/
header > section {
    color: var(--color-foreground);
    text-align: center;
}

.header-upper {
    padding: 1rem 1.5rem;

    background: var(--color-emphasize);
}

.banner-highlight {
    display: inline-block;
    margin: 0 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;

    background: var(--color-background);
}

.header-lower {
    background: var(--color-background);
}

.header-lower > .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-nav > ul {
    display: flex;
}

.container-nav > ul > li {
    list-style: none;
}

.container-nav .link-nav {
    margin-right: 2rem;

    color: var(--color-foreground);
    text-decoration: none;
}

/*******************************************
******** Main
*******************************************/
/* section.intro */
.intro {
    padding: 8rem 1.5rem;
    text-align: left;
}

.intro-title,
.intro-body {
    width: 20rem;
}

/* .section.support */
.support {
    padding: 3rem 1.5rem;
}

.container-support-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-support-title-main,
.container-support-title-sub {
    width: 50%;
}

.container-support-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 0 5%;
    margin-top: 2rem;
}

/* section.statement */
.statement {
    padding: 8rem 1.5rem;
    text-align: right;
}

.statement-title,
.statement-body {
    width: 20rem;
    margin-right: 0;
    margin-left: auto;
}

/* section.shopping */
.shopping {
    padding: 3rem 1.5rem;
}

.container-shopping-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    text-align: center;
}

/* section.message */
.message {
    padding: 3rem 1.5rem;
}

.message > .container-main {
    display: flex;
    
    text-align: right;
}

.container-message-image {
    position: relative;
    top: 3rem;
    left: 5%;

    background: var(--color-background);
}

.message-content {
    box-sizing: border-box;
    width: 80%;
    margin-right: 0;
    margin-left: auto;
    padding: 3rem 20% 3rem 30%;
    border-radius: .4rem;

    background: var(--color-emphasize);
    color: var(--color-foreground);
}

.message-title {
    margin: 1rem 0;
}

.message-body,
.message-separator {
    margin: .75rem 0;
}

.message-writer:first-child {
    margin-top: .75rem;
}
.message-writer:last-child {
    margin-bottom: .75rem;
}

/*******************************************
******** Footer
*******************************************/
footer {
    background: var(--color-emphasize);
    color: var(--color-foreground);
}

.footer-upper {
    padding: 4rem 1.5rem 1rem;
}

.footer-upper > .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-network-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    padding: .2rem;
    border-radius: .4rem;

    background: var(--color-foreground);
    color: var(--color-emphasize);
}

.footer-bottom {
    padding: 1rem 1.5rem;
}

.footer-bottom > .container-footer {
    text-align: center;
}

.link-webflow {
    color: var(--color-background);
}