html,
body {
  margin: 0;
  padding: 0;
}

.page-title {
  text-align: center;
}

.log-in {
  width: 40%;
  min-width: 400px;
  margin: auto;
  padding: 2rem 2rem 1rem;
  border: 2px solid cornsilk;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

  background: cornsilk;
}

.log-in > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.log-in > div:first-of-type {
  margin-top: 0;
}

.log-in label {
  width: 40%;

  font-size: 1.5rem;
}

.log-in input[type='text'],
.log-in input[type='password'] {
  width: 60%;
  padding: 0.5rem;

  font-size: 1.2rem;
}

.log-in .log-in__submit--container {
  justify-content: center;
}
