.form-box {
  margin-top: 2rem;
}

.add-product {
  display: flex;
  flex-direction: column;

  width: 40%;
  min-width: 400px;
  margin: auto;
  padding: 0.5rem 2rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  background: cornsilk;
}

.add-product input {
  padding: 1rem;
  margin: 0.5rem 0;
}

.add-product input[type='submit'] {
  margin-bottom: 0;
}

.data-box {
  margin-top: 4rem;
}

.data-box__title {
  text-align: center;
}

.data-box__items--container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: auto;
}
