:root {
  --main-bg: #e0c6ad;
  --pop-up-bg: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  height: 4rem;
}

main {
  box-sizing: border-box;
  width: 100%;
  min-height: calc(100vh - 4rem);
  padding: 2rem;

  background: var(--main-bg);
  text-align: center;
}

.page-title__container {
  max-width: 1280px;
  margin: auto;

  text-align: center;
}

.page-title {
  margin: 0;
}

.page-title__description {
  margin: 0;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem 0;
  border-radius: 0.5rem;

  background: #fff;
}

.cat-image {
  display: inline-block;
  width: 40%;
  height: 100%;
  margin: 2rem 0 0;
  border-radius: 0.5rem;

  object-fit: cover;
  object-position: center;
}

.cat-image:nth-of-type(-n + 2) {
  margin-top: 0;
}

.inactive {
  /* display: none; */
  opacity: 0;
  height: 8rem;
}

.button-more-cats {
  padding: 0.5rem 1rem;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #000;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;

  background: var(--pop-up-bg);
}

.active {
  opacity: 1;
}

.pop-up__image {
  display: inline-block;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 0.5rem;

  object-fit: contain;
  object-position: center;
}

.pop-up__close-button {
  all: unset;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;

  background: var(--main-bg);
  font-weight: bold;
}

@media (max-width: 480px) {
  .cat-container {
    padding: 1rem 0;
  }

  .cat-image:nth-of-type(n) {
    width: 90%;
    margin: 1rem 0 0;
  }

  .cat-image:nth-of-type(-n + 1) {
    margin-top: 0;
  }

  .pop-up {
    padding: 1rem;
  }

  .pop-up__image {
    max-width: 90vw;
  }
}
