@media (max-width: 960px) {
    .contact-form {
        flex-basis: 50%;
    }
}

@media (max-width: 700px) {
    .contact > .container-main {
        flex-direction: column;
    }

    .contact-info {
        flex-basis: 0;
        padding-bottom: 0;
    }

    .contact-form {
        flex-basis: 0;
    }
}

@media (max-width: 420px) {
    .contact-message {
        padding: 2rem;
    }

    .contact {
        padding: 0 2rem;
    }
}