@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  header {
    padding: 0 2rem;
  }

  .intro > .container-main {
    height: 24rem;
  }

  .intro > .container-main > div {
    height: 100%;
    padding: 4rem 2rem;
  }

  .process > .container-main {
    display: block;
  }

  .process-card {
    margin-bottom: 2rem;
  }

  .process-card:last-of-type {
    margin: 0;
  }

  .container-process-image {
    padding: 1rem 0 1.5rem;
  }

  .process-image {
    width: 8rem;
    height: 8rem;
  }

  .message {
    padding: 4rem 2rem;
  }

  .title-message {
    width: 100%;
  }

  .team {
    padding-bottom: 6rem;
  }

  .container-team {
    grid-template-columns: 1fr;
    gap: 2.5%;

    width: 50%;
  }

  .testimonial-card {
    width: 90%;
    margin: 0 5%;
  }

  .container-footer {
    grid-template-columns: 1fr;
    gap: 5%;
  }

  .container-footer > .container-brand-info {
    justify-content: center;
  }

  .address-brand {
    justify-self: center;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  .container-header {
    display: flex;
    flex-direction: column;
  }

  .nav-site {
    width: 50%;
    margin-top: 1rem;
    border-top: 0.5px solid var(--color-dark);
  }

  .nav-site > ul {
    display: flex;
    flex-direction: column;
    width: 100%;

    text-align: center;
  }

  .nav-site > ul > li {
    padding: 1rem 1.5rem;
    border: none;
  }

  .nav-site > ul > li.active {
    background: none;
  }

  .nav-social-network > ul > li {
    padding: 1rem 1.5rem;
    border: none;
  }

  .button-mobile-menu {
    display: block;
  }

  .intro > .container-main {
    height: 30rem;
  }
}

@media (max-width: 480px) {
  .intro > .container-main {
    height: 36rem;
  }

  .intro > .container-main > div {
    padding: 2rem;
  }

  .team {
    padding: 4rem 2rem;
  }

  .testimonial {
    padding: 2rem 1rem;
  }
}
