@media (max-width: 1024px) {
  .contact-form {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .contact > .container-main {
    flex-direction: column;
  }

  .contact-info {
    flex-basis: 0;
    padding-bottom: 0;
  }

  .contact-form {
    flex-basis: 0;
  }
}

@media (max-width: 480px) {
  .contact-message {
    padding: 2rem;
  }

  .contact {
    padding: 0 2rem;
  }
}
