/* Color palette
W3Schools.com HTML Color Picker
https://www.w3schools.com/colors/colors_picker.asp

Base color: #6699ff;

--- lighter/darker ---
100%: #ffffff;
80%: #99ffbb;
70%: Base Color;
60%: #33ff77;
40%: #00cc44;
20%: #006622;
10%: #003311;
5%: #001a09;
0%: #000000;

White: #FFFFFF
Green: #008000
Black: #000000
*/



/****************************
************ Global
****************************/

* {
    margin: 0;
    padding: 0;
    user-select: none;
    /* user-select is non-standard, so avoid using on official pages */
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: #001a09;
    text-align: center;
}

/* onClick effect */
.pulse {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3vw;
    border: 0.2vw solid #99ffbb;
    border-radius: 50%;
    animation-name: pulse_wave;
    animation-duration: 1.5s;
    /* forwards makes the animation fixed to the final frame after the end */ 
    animation-fill-mode: forwards;
    /* ease-out makes the animation become slower toward the end */
    animation-timing-function: ease-out;
}

@keyframes pulse_wave {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 5vw;
        height: 5vw;
        opacity: 0;
    }
}

/****************************
************ Header
****************************/

.buttons-bar {
    height: 1vw;
    text-align: center;
}

.buttons {
    /* display: inline-block; */
    background-color: #001a09;
    outline: none;
    border: none;
    border-radius: 0.5vw;
    color: #99ffbb;
    text-align: center;
    /* cursor: pointer; */
    transition: all 0.5s ease-out;
}

.buttons:hover {
    background-color: #99ffbb;
    color: #001a09;
}

.status-initial {
    bottom: 10%;
    transform: translateX(-50%) scale(2);
}

.status-playing {
    bottom: 5%;
    opacity: 0.1;
    z-index: 10;
    transform: translateX(-50%);
}

.status-stop {
    bottom: 5%;
    opacity: 1;
    z-index: 1;
    transform: translateX(-50%);
}

#btn_play-stop {
    position: absolute;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.6vw;
}

.page-introduction {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80%;
    color: #99ffbb;
    font-size: 5vw;
    opacity: 1;
    transform: translate(-50%);
}

.button-instruction {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 80%;
    color: #99ffbb;
    font-size: 3vw;
    opacity: 1;
    transform: translate(-50%);
}

/****************************
************ Main (Wrapper)
****************************/
.wrapper {
    display: block;
}

.rows {
    padding: auto;
    margin: auto;
}

.characters {
    display: inline-block;
    width: 3vw;
    height: 3.2vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 2vw;
    text-shadow: #99ffbb 0 0 1.5vw; 
    text-align: center;
}

.highlighted {
    /* light green */
    color: #ffffff;
    opacity: 1;
}

.changed {
    animation-name: fade;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

/* 불투명 굵은 흰 글자 -> 투명 일반 연록 글자 */
@keyframes fade {
    0% {
        color: #ffffff;
        font-weight: 700;
        text-shadow: #ffffff;
        opacity: 1;
    }
    40% {
        color: #ffffff;
    }
    60% {
        font-weight: 700;
        opacity: 0.6;
    }
    100% {
        color: #99ffbb;
        font-weight: 400;
        text-shadow: #99ffbb;
        opacity: 0.1;
    }
}

.green_black {
    /* black green */
    color: #003311;
}

.green_dark {
    /* dark green */
    color: #006622;
}

.green {
    /* green */
    color: #00cc44;
}

.green_light {
    /* light green */
    color: #33ff77;
}

.green_white {
    /* white green */
    color: #99ffbb;
}

.black {
    /* black */
    color: #001a09;
}



/****************************
************ Media Queries
****************************/

@media (max-width: 480px) {
    .status-initial {
        bottom: 10%;
    }
    
    .status-playing {
        bottom: 5%;
    }
    
    .status-stop {
        bottom: 5%;
    }

    #btn_play-stop {
        position: absolute;
        padding: 0.5vw 1vw 0.5vw 1vw;
        border-radius: 0.5vw;
        font-size: 2.5vw;
    }

    .page-introduction {
        top: 30%;
        width: 60%;
        font-size: 8vw;
    }
    
    .button-instruction {
        top: 45%;
        width: 60%;
        font-size: 5vw;
    }
    
    .characters {
        display: inline-block;
        width: 6vw;
        height: 6.4vw;
        margin-top: 0.6vw;
        margin-bottom: 0.6vw;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 4.5vw;
        text-shadow: #99ffbb 0 0 3.5vw; 
        text-align: center;
    }
    
    .pulse {
        width: 6vw;
        height: 6vw;
        border: 0.4vw solid #99ffbb;
    }

    @keyframes pulse_wave {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            width: 10vw;
            height: 10vw;
            opacity: 0;
        }
    }
}

@media (min-width: 1200px) {
    .status-initial {
        bottom: 5%;
    }
    
    .status-playing {
        bottom: 2%;
    }
    
    .status-stop {
        bottom: 2%;
    }

    #btn_play-stop {
        position: absolute;
        padding: 0.1vw 0.2vw 0.1vw 0.2vw;
        border-radius: 0.4vw;
        font-size: 1.2vw;
    }

    .page-introduction {
        top: 30%;
        font-size: 5vw;
    }
    
    .button-instruction {
        top: 50%;
        font-size: 3vw;
    }

    .characters {
        display: inline-block;
        width: 2vw;
        height: 2.1vw;
        margin-top: 0.1vw;
        margin-bottom: 0.1vw;
        margin-left: 0.2vw;
        margin-right: 0.2vw;
        font-size: 1.2vw;
        text-shadow: #99ffbb 0 0 1vw; 
        text-align: center;
    }

    .pulse {
        width: 2vw;
        height: 2vw;
        border: 0.1vw solid #99ffbb;
    }

    @keyframes pulse_wave {
        0% {
            width: 0;
            height: 0;
            opacity: 1;
        }
        100% {
            width: 4vw;
            height: 4vw;
            opacity: 0;
        }
    }
}
