:root {
  --blue: #42a5f5;
  --blue-extra-light: #e3f2fd;
  --blue-light: #80d6ff;
  --blue-dark: #0077c2;
  --blue-extra-dark: #002171;
  --blue-extra-dark-transparent: rgba(0, 33, 103, 0.3);
  --shadow-normal: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

.todo-list {
  position: relative;
  border: 1px solid var(--blue-dark);
  box-shadow: var(--shadow-normal);
}

.todo-list__title {
  margin: 0;
  padding: 2rem 0 1rem;

  background: var(--blue-dark);
  color: var(--blue-extra-light);
  font-size: 2rem;
  text-align: center;
}

.todo-list__input-container {
  padding: 1rem 2rem;
  border-bottom: 0.5px solid var(--blue-dark);

  text-align: center;
}

.todo-list__todo-input {
  all: unset;
  width: 80%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--blue);

  text-align: initial;
}

.todo-list__todo-submit {
  all: unset;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;

  box-shadow: var(--shadow-normal);
  background: var(--blue-dark);
  color: var(--blue-extra-light);
}

.todo-list__todo-submit:hover {
  background: var(--blue-extra-dark);
}

.todo-list__list-container {
  width: 100%;
}

.todo-list__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;

  box-shadow: var(--shadow-normal);
  color: var(--blue-extra-dark);
}

.todo-list__item-container:hover {
  background: var(--blue-extra-light);
}

.todo-list__item-container:first-of-type {
  margin-top: 1rem;
}

.todo-list__item-container:last-of-type {
  margin-bottom: 1rem;
}

.todo-list__item-content {
  margin: 0;
  transition: all 0.5s;
}

.completed {
  color: var(--blue-extra-dark-transparent);
  text-decoration: line-through;
}

.todo-list__delete-button {
  all: unset;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;

  color: var(--blue-extra-dark);
  font-size: 0.8rem;
}

.todo-list__item-container:hover > .todo-list__delete-button {
  opacity: 1;
}

.todo-list__storage-info--container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--blue-extra-light);
}

.storage-info__summary {
  margin: 0 1rem 0 0;
}

.storage-info__summary::after {
  content: '%';
}

.storage-info__graphic {
  position: relative;
  width: 4rem;
  height: 1rem;
  margin-right: 1rem;
  padding: 0;
  border-radius: 4px;

  background: var(--blue-extra-light);
}

.storage-info__graphic-bar {
  position: relative;
  content: '';
  width: 0;
  height: 1rem;
  border-radius: 3px;

  background: var(--blue-extra-light);
}

.storage-info__using-size::after {
  content: ' / ';
}

.storage-info__total-size::after {
  content: ' KB';
}

.todo-list__reset-button {
  all: unset;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 4rem;
  padding: 0.3rem;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;

  box-shadow: var(--shadow-normal);
  background: var(--blue-extra-light);
  color: var(--blue-extra-dark);
  text-align: center;
}

.todo-list__reset-button:hover {
  background: var(--blue-light);
}
