/***************************************
********** General
***************************************/
:root {
    --test: lightsalmon;
    --circleSizeBig: 5rem;
    --circleSizeMedium: 4rem;
    --circleSizeSmall: 3rem;
    --circleRadiusBig: 2.5rem;
    --circleRadiusMedium: 2rem;
    --circleRadiusSmall: 1.5rem;

    --num1to10: #F1C40F;
    --num11to20: #2980B9;
    --num21to30: #C0392B;
    --num31to40: #BDC3C7;
    --num41to45: #27AE60;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/***************************************
********** Header
***************************************/
#navBar {
    background-color: var(--test);
}

#navBar ul {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: flex-end;
}

.link {
    margin: 1rem 1.5rem;

    list-style: none;
}

.link a {
    text-decoration: none;
    color: white;
}

/***************************************
********** Main
***************************************/
main {
    position: relative;
}

.upper-page {
    position: relative;
    
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.bg-upper-page {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    filter: blur(3px);
}

#pageInfo, .draw-result {
    width: 80%;
    margin: auto;
    padding: 1rem;

    text-align: center;
    background-color: var(--test);
    border-radius: 1rem;
}

#userData, #userSet, .draw-result, .result-set {
    margin-top: 1rem;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#userDraw, .draw-sequence {
    margin: auto;

    flex: 1;
}

#userSet, .result-set {
    margin: 0;

    flex: 3;
}

.user-number {
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-fill-mode: both;

    width: var(--circleSizeBig);
    height: var(--circleSizeBig);
    border-radius: var(--circleRadiusBig);

    opacity: 0;
    background-color: white;
    box-shadow: 0 0 .5rem gray;
    line-height: var(--circleSizeBig);
}

.result-number, .result-number-plus{
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-fill-mode: both;

    width: var(--circleSizeMedium);
    height: var(--circleSizeMedium);
    border-radius: var(--circleRadiusMedium);
    transition: all .5s ease-in-out;

    opacity: 0;
    background-color: transparent;
    box-shadow: 0 0 .5rem gray;
    color: white;
    font-size: 2rem;
    line-height: var(--circleSizeMedium);
    text-shadow: 0 0 .4rem gray;
}

.result-number-plus {
    font-size: 4rem;
    font-weight: bold;

    background-color: transparent;
    box-shadow: none;
    color: black;
    line-height: 3.25rem;
    text-shadow: none;
}

/***************************************
********** Overlay
***************************************/
#overlayNumberSelection {
    position: absolute;
    bottom: 20%;
    left: 10%;

    opacity: 0;
    display: none;
    width: 80%;
    margin: auto;
    border-radius: 1rem;
    transition: all .4s ease-in-out;

    background-color: lightgray;
}

.selection-set {
    padding: .5rem 1.5rem;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.selection-set:nth-of-type(1) {
    padding-top: 1.5rem;
}

.selection-set:last-child {
    padding-bottom: 1.5rem;
}

.selection-number {
    width: var(--circleSizeSmall);
    height: var(--circleSizeSmall);
    border-radius: var(--circleRadiusSmall);

    box-shadow: 0 0 .5rem gray;
    color: white;
    font-size: 1.5rem;
    line-height: var(--circleSizeSmall);
    text-align: center;
    text-shadow: 0 0 .4rem gray;
}

.selection-set:nth-of-type(1) > .selection-number {
    background: var(--num1to10);
}

.selection-set:nth-of-type(2) > .selection-number {
    background: var(--num11to20);
}

.selection-set:nth-of-type(3) > .selection-number {
    background: var(--num21to30);
}

.selection-set:nth-of-type(4) > .selection-number {
    background: var(--num31to40);
}

.selection-set:nth-of-type(5) > .selection-number {
    background: var(--num41to45);
}

.selection-set:nth-of-type(5) > .selection-number:nth-of-type(n+6) {
    box-shadow: none;
    background: none;
}

#btnOverlayClose {
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .25rem .5rem;
    border: 1px solid black;
    border-radius: .4rem;

    background: black;
    color: white;
}

#btnOverlayClose {
    outline: none;
}

/*******************************************
******** Animation
*******************************************/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

