/***************************************
********** General
***************************************/
:root {
    --test: lightsalmon;
    --circleSizeBig: 5rem;
    --circleSizeMedium: 4rem;
    --circleSizeSmall: 3rem;
    --circleRadiusBig: 2.5rem;
    --circleRadiusMedium: 2rem;
    --circleRadiusSmall: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/***************************************
********** Header
***************************************/
#navBar {
    background-color: var(--test);
}

#navBar ul {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: flex-end;
}

.link {
    margin: 2rem;

    list-style: none;
}

.link a {
    text-decoration: none;
    color: white;
}

/***************************************
********** Main
***************************************/
main {
    position: relative;

    width: 80%;
    margin: auto;
}

#pageInfo, .draw-result {
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;
    background-color: var(--test);
    border-radius: 1rem;
}

#userData, #userSet, .draw-result, .result-set {
    margin-top: 1rem;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#userDraw, .draw-sequence {
    margin: auto;

    flex: 1;
}

#userSet, .result-set {
    margin: 0;

    flex: 3;
}

.user-number {
    width: var(--circleSizeBig);
    height: var(--circleSizeBig);
    border-radius: var(--circleRadiusBig);

    line-height: var(--circleSizeBig);

    background-color: white;
}

.result-number{
    width: var(--circleSizeMedium);
    height: var(--circleSizeMedium);
    border-radius: var(--circleRadiusMedium);
    
    line-height: var(--circleSizeMedium);

    background-color: black;
}

.plus {
    font-size: 4rem;
    font-weight: bold;

    line-height: 3.25rem;

    background-color: white;
}

/***************************************
********** Overlay
***************************************/
#overlayNumberSelection {
    position: absolute;
    bottom: 5%;
    left: -5%;

    width: 110%;
    margin: auto;
    border-radius: 1rem;
    
    display: none;

    background-color: lightgray;
}

.selection-set {
    margin: 1rem 0;
    padding: 1rem;
    
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.selection-number {
    width: var(--circleSizeSmall);
    height: var(--circleSizeSmall);
    border-radius: var(--circleRadiusSmall);
    
    line-height: var(--circleSizeSmall);

    background-color: white;
    text-align: center;
}

