/*******************************************
******** General
*******************************************/
:root {
    --aqua: #35B8BE;
    --light-aqua: #F5FBFC;
    --deep-aqua: #1B9097;
    --white: #FFFFFF;
    --gray: #DFE3E6;
}

* {
    margin: 0;
    padding: 0;
}

.section-wrapper {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding: 10% 5% 20%;
}

.button {
    display: inline-block;

    margin: 2rem 0 1rem;
    padding: 0.5rem 1rem;

    border-radius: 0.4rem;
    font-size: 1.25rem;
}

.button.blue {
    background-color: var(--aqua);
    color: var(--white);
}

.button.white {
    border: solid 1px var(--gray);
}

h1 { font-size: 4rem; }
h4 { font-size: 1.5rem; }
p { font-size: 1.25rem; }

.text-highlight {
    color: var(--aqua);
}

/*******************************************
******** Header
*******************************************/
header {
    text-align: center;
}

header > section > .section-wrapper {
    padding: 0% 5%;
}

.header-upper {
    padding: 1rem 0;

    background-color: var(--aqua);
    color: var(--white);
}

.banner-text > .text-highlight {
    color: var(--white);
    font-weight: 600;
}

.header-lower {
    padding: 1.5rem 0;
}

.header-lower > .section-wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    display: inline-block;
    width: 4rem;
    height: 2rem;

    background-color: var(--aqua);
}

.nav-wrapper, .nav-wrapper > ul {
    display: flex;

    align-items: center;
}

.nav-wrapper > ul > li {
    margin : 0 1rem;

    list-style: none;
}

.nav-wrapper > ul > li > a {
    text-decoration: none;
}

.nav-wrapper > ul > li:nth-child(1) > a {
    color: var(--aqua);
}

.nav-wrapper .button {
    margin: 0;
}

/*******************************************
******** Main
*******************************************/

/* section.order-placement */
.order-placement > .section-wrapper {
    display: flex;
}

.order-contents {
    width: 50%;
    padding-right: 5%;
}

.order-image-container {
    width: 50%;

    background-color: var(--aqua);
}

/* section.company-intro */
.company-intro > .section-wrapper {
    display: flex;
}

.intro-contents {
    width: 50%;
    padding-right: 5%;
}

.intro-image-container {
    width: 50%;

    background-color: var(--aqua);
}

/* section.how-it-work */
.how-it-work > .section-wrapper {
    display: grid;
    gap: 15% 5%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.how-it-work .text-content.main {
    grid-column: 1 / span 3;

    justify-self: center;
}

.how-it-work .work-step {
    align-self: center;
    text-align: center;
}

/*******************************************
******** Footer
*******************************************/