/*******************************************
******** General
*******************************************/
:root {
    --aqua: #35B8BE;
    --light-aqua: #F5FBFC;
    --less-light-aqua: #9ADBDE;
    --deep-aqua: #1B9097;
    --white: #FFFFFF;
    --gray: #DFE3E6;
    --light-gray: #FAFAFA;
    --gray-transparent: rgba(223, 227, 230, 0.75);
}

* {
    margin: 0;
    padding: 0;
}

.section-wrapper {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    padding: 10% 5% 20%;
}

.button {
    display: inline-block;

    margin: 2rem 0 1rem;
    padding: 0.5rem 1rem;

    border-radius: 0.4rem;
    font-size: 1.25rem;
    text-decoration: none;
}

.button.blue {
    background-color: var(--aqua);
    color: var(--white);
}

.button.white {
    border: solid 1px var(--gray);
    background-color: var(--white);
    color: var(--aqua);
}

input {
    display: inline-block;
    width: 2rem;
    padding: 0.75rem 1rem;

    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 0.4rem;
}

input[type="submit"] {
    width: auto;

    border-color: var(--aqua);
    background-color: var(--aqua);
    color: var(--white);
}

h1 { font-family: 'Gochi Hand'; font-weight: 500; }
h4, p, div, input { font-family: 'Average'; }

h1 { font-size: 4rem; line-height: 5rem; }
h4 { font-size: 1.5rem; }
p, input { font-size: 1.2rem; }

.text-highlight {
    color: var(--aqua);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    
    box-shadow: 0.25rem 0.25rem 0.25rem var(--gray-transparent);
}

/*******************************************
******** Header
*******************************************/
header {
    text-align: center;
}

header > section > .section-wrapper {
    padding: 0% 5%;
}

.header-upper {
    padding: 1rem 0;

    background-color: var(--aqua);
    color: var(--white);
}

.banner-text > .text-highlight {
    color: var(--white);
    font-weight: 600;
}

.header-lower {
    padding: 1.5rem 0;
}

.header-lower > .section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper {
    width: 3rem;
    height: 3rem;
}

.nav-wrapper, .nav-wrapper > ul {
    display: flex;

    align-items: center;
}

.nav-wrapper > ul > li {
    margin : 0 1rem;

    list-style: none;
}

.nav-wrapper > ul > li > a {
    text-decoration: none;
}

.nav-wrapper > ul > li:nth-child(1) > a {
    color: var(--aqua);
}

.nav-wrapper .button {
    margin: 0;
}

/*******************************************
******** Main
*******************************************/

/* section.order-placement */
.order-placement > .section-wrapper {
    display: flex;
}

.order-contents {
    width: 50%;
    padding-right: 5%;
}

.order-image-container {
    position: relative;
    box-sizing: border-box;

    width: 50%;
    padding: 5% 10% 5% 0;
}

.order-image-container > img {
    border-radius: 0.75rem;
}

.order-image-container > img:nth-child(2) {
    position: absolute;
    right: 10%;
    bottom: 5%;

    width: 25%;
    height: 25%;
}

/* section.company-intro */
.company-intro > .section-wrapper {
    display: flex;
}

.intro-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 50%;
    padding-right: 5%;
}

.intro-image-container {
    position: relative;
    box-sizing: border-box;

    width: 50%;
    padding: 5% 0 5% 10%;
}

.intro-image-container > img {
    height: 30rem;
    border-radius: 0.75rem;
}

.intro-image-container > img:nth-child(2) {
    position: absolute;
    right: -5%;
    bottom: 15%;

    width: 25%;
    height: 25%;
}

/* section.how-it-work */
.how-it-work > .section-wrapper {
    display: grid;
    gap: 5% 5%;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.how-it-work .text-content.main {
    grid-column: 1 / span 3;

    justify-self: center;
    align-self: center;
}

.how-it-work .work-step {
    align-self: center;
    text-align: center;
}

.step-image-container {
    width: 16rem;
    height: 16rem;
    margin: 0 auto 2rem;
}

.step-image-container > img {
    border-radius: 50%;
}

/* section.browse-menu */
.browse-menu > .section-wrapper {
    text-align: center;
}

.link-menu-category {
    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 2rem;

    text-align: left;
}

.menu-content-container {
    display: flex;
    padding: 2rem 1.5rem;

    border: 1px solid var(--less-light-aqua);
    border-radius: 0.4rem;
}

.menu-image-container {
    box-sizing: border-box;
    width: 30%;
    margin-right: 1.5rem;
    padding: 5% 0;
}

.menu-image-container > img {
    border-radius: 0.75rem;
}


.menu-info {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.menu-name {
    position: relative;
    display: inline-block;
}

.menu-price {
    position: absolute;
    right: 0;
    top: 0.25rem;

    display: inline-block;

    font-size: 1.2rem;
    font-weight: normal;
}

.menu-info > .text-content.sub {
    margin: 1rem 0 0.7rem;
}

/* section.company-faq */
.company-faq > .section-wrapper {
    display: flex;
}

.faq-image-container {
    position: relative;
    box-sizing: border-box;

    width: 50%;
    padding: 5% 10% 5% 0;
}

.faq-image-container > img {
    border-radius: 0.75rem;
}

.faq-image-container > img:nth-child(2) {
    position: absolute;
    right: 10%;
    bottom: 15%;

    width: 25%;
    height: 25%;
}


.faq-contents {
    width: 50%;
    padding-left: 5%;
}

/* section.company-contact */
.company-contact > .section-wrapper {
    display: flex;

    padding-bottom: 5%;
}

.contact-contents {
    width: 50%;
    padding-right: 5%;
}

.contact-image-container {
    position: relative;
    box-sizing: border-box;

    width: 50%;
    padding: 5%;
}

.contact-image-container > img {
    border-radius: 0.75rem;
}

.contact-image-container > img:nth-child(2) {
    position: absolute;
    left: 0%;
    bottom: 20%;

    width: 25%;
    height: 25%;
}

/* section.order-placement.visual */
.order-placement.visual > .section-wrapper {
    display: flex;

    width: 95%;
    padding: 2.5%;
}

.order-image-container.simple {
    width: 50%;
    margin-right: 0.5rem;
    padding: 0;
}

.order-image-container.simple > img {
    width: 100%;
    height: 100%;

    border-radius: 0;
    box-shadow: none;
}

.order-contents.simple {
    box-sizing: border-box;
    width: 50%;
    margin-left: 0.5rem;
    padding: 5rem 3rem;

    background-color: var(--aqua);
    color: white;
}

.text-highlight-2 {
    color: var(--deep-aqua);
}

/*******************************************
******** Footer
*******************************************/
footer {
    background-color: var(--light-aqua)
}

.footer-top > .section-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    width: 95%;
    padding: 7.5% 2.5%;
}

.company-info {
    width: 16rem;
}

.company-logo {
    width: 3rem;
    height: 3rem;

    box-shadow: none;
}

.section-link, .template, .contact {
    justify-self: center;
}

.article-title {
    font-size: 1.2rem;
}

.footer-top .text-content.sub {
    padding-top: 1.5rem;
}

.footer-top .text-content.sub > a {
    color: gray;
    font-size: 1.1rem;
    text-decoration: none;
}

.footer-bottom > .section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    margin: 0 2.5%;
    padding: 5% 0;

    border-top: 1px solid var(--gray);
}

.footer-bottom > .section-wrapper > .left-wrapper {
    display: flex;
}

.footer-bottom .text-info {
    margin-right: 1rem;
}

.footer-bottom > .section-wrapper > .right-wrapper {
    display: flex;
}

.icon-container {
    margin-left: 2rem;
    padding: 0.5rem;

    border: 1px solid gray;
    border-radius: 1.25rem;
}

ion-icon {
    display: flex;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;

    color: gray;
}